src/wsdl/Ctr2_v1_0_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"                 
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ctr100="http://lmst.dk/Ctr/xml.schema/2022/12/01"
                  xmlns:tns="http://lmst.dk/Ctr/xml.schema/2022/12/01"
                  xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                  xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
                  targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01">

    <wsdl:types>
        <xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <xs:include schemaLocation="../schemas/medcom/dgws/2006/04/medcom.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/GetAccountStatusRequest.xsd"/>           
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/GetAccountStatusResponse.xsd"/>           
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/HentHenstandsOrdningerRequest.xsd"/>           
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/HentHenstandsOrdningerResponse.xsd"/>           
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/GetTransactionListRequest.xsd"/>           
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/GetTransactionListResponse.xsd"/>           
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/OpretHenstandsOrdningRequest.xsd"/>          
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/OpretHenstandsOrdningResponse.xsd"/>    
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/OpdaterHenstandsOrdningRequest.xsd"/>          
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/OpdaterHenstandsOrdningResponse.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/CreateTransactionRequest.xsd"/>           
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/CreateTransactionResponse.xsd"/>      
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/ChangePersonIdentifierRequest.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/ChangePersonIdentifierResponse.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/CTRWarning.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/CTRFault.xsd"/>
        </xs:schema>
    </wsdl:types>
     
    <wsdl:message name="CTRResponseHeader">
        <wsdl:part name="CTRResponseHeader" element="ctr100:ResponseHeader"/>        
    </wsdl:message>

    <wsdl:message name="OnBehalfOfHeader">
        <wsdl:part name="OnBehalfOfHeader" element="ctr100:OnBehalfOf"/>
    </wsdl:message>

    <wsdl:message name="SecurityHeader">
        <wsdl:part name="SecurityHeader" element="wsse:Security"/>
    </wsdl:message>

    <wsdl:message name="MedComHeader">
        <wsdl:part name="MedcomHeader" element="medcom:Header"/>
    </wsdl:message>
    
    <wsdl:message name="GetAccountStatusRequest">
        <wsdl:part name="GetAccountStatusRequest" element="ctr100:GetAccountStatusRequest"/>
    </wsdl:message>
    <wsdl:message name="GetAccountStatusResponse">
        <wsdl:part name="GetAccountStatusResponse" element="ctr100:GetAccountStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="HentHenstandsOrdningerRequest">
        <wsdl:part name="HentHenstandsOrdningerRequest" element="ctr100:HentHenstandsOrdningerRequest"/>
    </wsdl:message>
    <wsdl:message name="HentHenstandsOrdningerResponse">
        <wsdl:part name="HentHenstandsOrdningerResponse" element="ctr100:HentHenstandsOrdningerResponse"/>
    </wsdl:message>
    <wsdl:message name="OpretHenstandsOrdningRequest">
        <wsdl:part name="OpretHenstandsOrdningRequest" element="ctr100:OpretHenstandsOrdningRequest"/>
    </wsdl:message>
    <wsdl:message name="OpretHenstandsOrdningResponse">
        <wsdl:part name="OpretHenstandsOrdningResponse" element="ctr100:OpretHenstandsOrdningResponse"/>
    </wsdl:message>
    <wsdl:message name="OpdaterHenstandsOrdningRequest">
        <wsdl:part name="OpdaterHenstandsOrdningRequest" element="ctr100:OpdaterHenstandsOrdningRequest"/>
    </wsdl:message>
    <wsdl:message name="OpdaterHenstandsOrdningResponse">
        <wsdl:part name="OpdaterHenstandsOrdningResponse" element="ctr100:OpdaterHenstandsOrdningResponse"/>
    </wsdl:message>    
    <wsdl:message name="CreateTransactionRequest">
        <wsdl:part name="CreateTransactionRequest" element="ctr100:CreateTransactionRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateTransactionResponse">
        <wsdl:part name="CreateTransactionResponse" element="ctr100:CreateTransactionResponse"/>
    </wsdl:message>
    <wsdl:message name="GetTransactionListRequest">
        <wsdl:part name="GetTransactionListRequest" element="ctr100:GetTransactionListRequest"/>
    </wsdl:message>
    <wsdl:message name="GetTransactionListResponse">
        <wsdl:part name="GetTransactionListResponse" element="ctr100:GetTransactionListResponse"/>
    </wsdl:message> 
    <wsdl:message name="ChangePersonIdentifierRequest">
        <wsdl:part name="ChangePersonIdentifierRequest" element="ctr100:ChangePersonIdentifierRequest"/>
    </wsdl:message>
    <wsdl:message name="ChangePersonIdentifierResponse">
        <wsdl:part name="ChangePersonIdentifierResponse" element="ctr100:ChangePersonIdentifierResponse"/>
    </wsdl:message>

    <wsdl:message name="CTRDetail">
        <wsdl:part name="fault" element="ctr100:CTRDetail"/>
    </wsdl:message>

    <wsdl:portType name="CtrPortType">
        <wsdl:operation name="GetAccountStatus">
            <soap:operation soapAction="http://lmst.dk/Ctr/xml.schema/2022/12/01#GetAccountStatus" style="document"/>
            <wsdl:input name="GetAccountStatusRequest"
                        message="tns:GetAccountStatusRequest"/>
            <wsdl:output name="GetAccountStatusResponse"
                         message="tns:GetAccountStatusResponse"/>
            <wsdl:fault name='CTRDetail' message='tns:CTRDetail'/>
        </wsdl:operation>
        <wsdl:operation name="HentHenstandsOrdninger">
            <soap:operation soapAction="http://lmst.dk/Ctr/xml.schema/2022/12/01#HentHenstandsOrdninger" style="document"/>
            <wsdl:input name="HentHenstandsOrdningerRequest"
                        message="tns:HentHenstandsOrdningerRequest"/>
            <wsdl:output name="HentHenstandsOrdningerResponse"
                         message="tns:HentHenstandsOrdningerResponse"/>
            <wsdl:fault name='CTRDetail' message='tns:CTRDetail'/>
        </wsdl:operation>
        <wsdl:operation name="OpretHenstandsOrdning">
            <soap:operation soapAction="http://lmst.dk/Ctr/xml.schema/2022/12/01#OpretHenstandsOrdning" style="document"/>
            <wsdl:input name="OpretHenstandsOrdningRequest"
                        message="tns:OpretHenstandsOrdningRequest"/>
            <wsdl:output name="OpretHenstandsOrdningResponse"
                         message="tns:OpretHenstandsOrdningResponse"/>
            <wsdl:fault name='CTRDetail' message='tns:CTRDetail'/>
        </wsdl:operation>
        <wsdl:operation name="OpdaterHenstandsOrdning">
            <soap:operation soapAction="http://lmst.dk/Ctr/xml.schema/2022/12/01#OpdaterHenstandsOrdning" style="document"/>
            <wsdl:input name="OpdaterHenstandsOrdningRequest"
                        message="tns:OpdaterHenstandsOrdningRequest"/>
            <wsdl:output name="OpdaterHenstandsOrdningResponse"
                         message="tns:OpdaterHenstandsOrdningResponse"/>
            <wsdl:fault name='CTRDetail' message='tns:CTRDetail'/>
        </wsdl:operation>
        <wsdl:operation name="CreateTransaction">
            <soap:operation soapAction="http://lmst.dk/Ctr/xml.schema/2022/12/01#CreateTransaction" style="document"/>
            <wsdl:input name="CreateTransactionRequest"
                        message="tns:CreateTransactionRequest"/>
            <wsdl:output name="CreateTransactionResponse"
                         message="tns:CreateTransactionResponse"/>
            <wsdl:fault name='CTRDetail' message='tns:CTRDetail'/>
        </wsdl:operation>
        <wsdl:operation name="GetTransactionList">
            <soap:operation soapAction="http://lmst.dk/Ctr/xml.schema/2022/12/01#GetTransactionList" style="document"/>
            <wsdl:input name="GetTransactionListRequest"
                        message="tns:GetTransactionListRequest"/>
            <wsdl:output name="GetTransactionListResponse"
                         message="tns:GetTransactionListResponse"/>
            <wsdl:fault name='CTRDetail' message='tns:CTRDetail'/>
        </wsdl:operation>                    
        <wsdl:operation name="ChangePersonIdentifier">
            <soap:operation soapAction="http://lmst.dk/Ctr/xml.schema/2022/12/01#ChangePersonIdentifier" style="document"/>
            <wsdl:input name="ChangePersonIdentifierRequest"
                        message="tns:ChangePersonIdentifierRequest"/>
            <wsdl:output name="ChangePersonIdentifierResponse"
                         message="tns:ChangePersonIdentifierResponse"/>
            <wsdl:fault name='CTRDetail' message='tns:CTRDetail'/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CtrBinding" type="tns:CtrPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="GetAccountStatus">
            <soap:operation soapAction="http://lmst.dk/Ctr/xml.schema/2022/12/01#GetAccountStatus"
                            style="document"/>
            <wsdl:input name="GetAccountStatusRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='OnBehalfOfHeader' message='tns:OnBehalfOfHeader' />        
                     
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetAccountStatusResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>                   
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name='CTRDetail'>
                <soap:fault name='CTRDetail' use='literal'/>
            </wsdl:fault>

        </wsdl:operation>

        <wsdl:operation name="HentHenstandsOrdninger">
            <soap:operation soapAction="http://lmst.dk/Ctr/xml.schema/2022/12/01#HentHenstandsOrdninger"
                            style="document"/>
            <wsdl:input name="HentHenstandsOrdningerRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='OnBehalfOfHeader' message='tns:OnBehalfOfHeader' />        

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HentHenstandsOrdningerResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>    
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name='CTRDetail'>
                <soap:fault name='CTRDetail' use='literal'/>
            </wsdl:fault>

        </wsdl:operation>

        <wsdl:operation name="OpretHenstandsOrdning">
            <soap:operation soapAction="http://lmst.dk/Ctr/xml.schema/2022/12/01#OpretHenstandsOrdning"
                            style="document"/>
            <wsdl:input name="OpretHenstandsOrdningRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='OnBehalfOfHeader' message='tns:OnBehalfOfHeader' />        

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="OpretHenstandsOrdningResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name='CTRDetail'>
                <soap:fault name='CTRDetail' use='literal'/>
            </wsdl:fault>

        </wsdl:operation>

        <wsdl:operation name="OpdaterHenstandsOrdning">
            <soap:operation soapAction="http://lmst.dk/Ctr/xml.schema/2022/12/01#OpdaterHenstandsOrdning"
                            style="document"/>
            <wsdl:input name="OpdaterHenstandsOrdningRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='OnBehalfOfHeader' message='tns:OnBehalfOfHeader' />        

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="OpdaterHenstandsOrdningResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>    
            <soap:body use="literal"/>
        </wsdl:output>
            <wsdl:fault name='CTRDetail'>
                <soap:fault name='CTRDetail' use='literal'/>
            </wsdl:fault>

        </wsdl:operation>

        <wsdl:operation name="CreateTransaction">
            <soap:operation soapAction="http://lmst.dk/Ctr/xml.schema/2022/12/01#CreateTransaction"
                            style="document"/>
            <wsdl:input name="CreateTransactionRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='OnBehalfOfHeader' message='tns:OnBehalfOfHeader' />        
                     
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateTransactionResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>                   
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name='CTRDetail'>
                <soap:fault name='CTRDetail' use='literal'/>
            </wsdl:fault>

        </wsdl:operation>

    <wsdl:operation name="GetTransactionList">
        <soap:operation soapAction="http://lmst.dk/Ctr/xml.schema/2022/12/01#GetTransactionList"
                        style="document"/>
        <wsdl:input name="GetTransactionListRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='OnBehalfOfHeader' message='tns:OnBehalfOfHeader' />        
                     
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output name="GetTransactionListResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>                   
            <soap:body use="literal"/>
        </wsdl:output>
            <wsdl:fault name='CTRDetail'>
                <soap:fault name='CTRDetail' use='literal'/>
            </wsdl:fault>

    </wsdl:operation>

    <wsdl:operation name="ChangePersonIdentifier">
            <soap:operation soapAction="http://lmst.dk/Ctr/xml.schema/2022/12/01#ChangePersonIdentifier"
                            style="document"/>
            <wsdl:input name="ChangePersonIdentifierRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='OnBehalfOfHeader' message='tns:OnBehalfOfHeader' />        
                     
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ChangePersonIdentifierResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>                   
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name='CTRDetail'>
                <soap:fault name='CTRDetail' use='literal'/>
            </wsdl:fault>

        </wsdl:operation>
</wsdl:binding>

    <wsdl:service name="Ctr">
        <wsdl:port name="CtrPort" binding="tns:CtrBinding">
            <soap:address location="http://localhost:9999/ws/Ctr"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
