src/wsdl/Ctr2_v1_0_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"                 
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ctr100="http://lmst.dk/Ctr/xml.schema/2022/12/01"
                  xmlns:tns="http://lmst.dk/Ctr/xml.schema/2022/12/01"
                  xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
                  targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01">

    <wsdl:types>
        <xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <xs:include schemaLocation="../schemas/medcom/dgws/medcom.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/HentKontoStatusRequest.xsd"/>           
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/HentKontoStatusResponse.xsd"/>           
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/HentHenstandsOrdningerRequest.xsd"/>           
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/Ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/HentHenstandsOrdningerResponse.xsd"/>           
        </xs:schema>
    </wsdl:types>
     
    <wsdl:message name="ResponseHeader">
        <wsdl:part name="CTRHeader" element="ctr100:CTRHeader"/>
        <wsdl:part name="MedcomHeader" element="medcom:Header"/>
    </wsdl:message>
    
    <wsdl:message name="HentKontoStatusRequest">
        <wsdl:part name="HentKontoStatusRequest" element="ctr100:HentKontoStatusRequest"/>
    </wsdl:message>
    <wsdl:message name="HentKontoStatusResponse">
        <wsdl:part name="HentKontoStatusResponse" element="ctr100:HentKontoStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="HentHenstandsOrdningerRequest">
        <wsdl:part name="HentHenstandsOrdningerRequest" element="ctr100:HentHenstandsOrdningerRequest"/>
    </wsdl:message>
    <wsdl:message name="HentHenstandsOrdningerResponse">
        <wsdl:part name="HentHenstandsOrdningerResponse" element="ctr100:HentHenstandsOrdningerResponse"/>
    </wsdl:message>

    <wsdl:message name="CTRFault">
        <wsdl:part name="fault" element="tns:CTRFaultDetail"/>
    </wsdl:message>

    <element name="CTRFaultDetail">
        <complexType>
            <sequence>
                <element name="FaultCode" type="string" />
                <element name="FaultText" type="string" />
                <element name="FaultDetails" type="FaultDetailsType" />
            </sequence>
        </complexType>
    </element>

    <wsdl:portType name="CtrPortType">
        <wsdl:operation name="HentKontoStatus">
            <soap:operation soapAction="http://lmst.dk/Ctr/xml.schema/2022/12/01#HentKontoStatus" style="document"/>
            <wsdl:input name="HentKontoStatusRequest"
                        message="tns:HentKontoStatusRequest"/>
            <wsdl:output name="HentKontoStatusResponse"
                         message="tns:HentKontoStatusResponse"/>
            <wsdl:fault name="CTRFault" message="tns:CTRFaultDetail"/>
        </wsdl:operation>
        <wsdl:operation name="HentHenstandsOrdninger">
            <soap:operation soapAction="http://lmst.dk/Ctr/xml.schema/2022/12/01#HentHenstandsOrdninger" style="document"/>
            <wsdl:input name="HentHenstandsOrdningerRequest"
                        message="tns:HentHenstandsOrdningerRequest"/>
            <wsdl:output name="HentHenstandsOrdningerResponse"
                         message="tns:HentHenstandsOrdningerResponse"/>
            <wsdl:fault name="CTRFault" message="tns:CTRFaultDetail"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CtrBinding" type="tns:CtrPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="HentKontoStatus">
            <soap:operation soapAction="http://lmst.dk/Ctr/xml.schema/2022/12/01#HentKontoStatus"
                            style="document"/>
            <wsdl:input>               
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <!-- TODO <soap:header use="literal" part="Header" message="tns:Header"/> -->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CTRFault">
                <soap:fault name="CTRFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="HentHenstandsOrdninger">
            <soap:operation soapAction="http://lmst.dk/Ctr/xml.schema/2022/12/01#HentHenstandsOrdninger"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <!-- TODO <soap:header use="literal" part="Header" message="tns:Header"/> -->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CTRFault">
                <soap:fault name="CTRFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Ctr">
        <wsdl:port name="CtrPort" binding="tns:CtrBinding">
            <soap:address location="http://localhost:9999/ws/Ctr"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>

