src/wsdl/Ctr2_v1_0_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"                 
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ctr100="http://lmst.dk/ctr/xml.schema/2022/12/01"
                  xmlns:tns="http://lmst.dk/ctr/xml.schema/2022/12/01"
                  xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                  xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
                  targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01">

    <wsdl:types>
        <xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <xs:include schemaLocation="../schemas/medcom/dgws/2006/04/medcom.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/GetAccountStatusRequest.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/GetAccountStatusResponse.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/GetReimbursementGrantsRequest.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/GetReimbursementGrantsResponse.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/GetHealthAllowancesRequest.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/GetHealthAllowancesResponse.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/GetDefermentsRequest.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/GetDefermentsResponse.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/GetTransactionsRequest.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/GetTransactionsResponse.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/CreateDefermentRequest.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/CreateDefermentResponse.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/UpdateDefermentRequest.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/UpdateDefermentResponse.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/UpdatePatientStatusRequest.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/UpdatePatientStatusResponse.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/CreateTransactionRequest.xsd"/>           
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/CreateTransactionResponse.xsd"/>      
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/CreateFictitiousPersonIdentifierRequest.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/CreateFictitiousPersonIdentifierResponse.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/ChangePersonIdentifierRequest.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/ChangePersonIdentifierResponse.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/GetReimbursementRatesRequest.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/GetReimbursementRatesResponse.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/GetPermissionsRequest.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/GetPermissionsResponse.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/GetAggregatedStatusRequest.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/GetAggregatedStatusResponse.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/CTRFault.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/ResponseHeader.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/RequestHeader.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/medcom/dgws/2006/04/wsse.xsd"/>
        </xs:schema>
    </wsdl:types>
     
    <wsdl:message name="CTRResponseHeader">
        <wsdl:part name="CTRResponseHeader" element="ctr100:ResponseHeader"/>        
    </wsdl:message>

    <wsdl:message name="RequestHeader">
        <wsdl:part name="RequestHeader" element="ctr100:RequestHeader"/>
    </wsdl:message>

    <wsdl:message name="SecurityHeader">
        <wsdl:part name="SecurityHeader" element="wsse:Security"/>
    </wsdl:message>

    <wsdl:message name="MedComHeader">
        <wsdl:part name="MedcomHeader" element="medcom:Header"/>
    </wsdl:message>
    
    <wsdl:message name="GetAccountStatusRequest">
        <wsdl:part name="GetAccountStatusRequest" element="ctr100:GetAccountStatusRequest"/>
    </wsdl:message>
    <wsdl:message name="GetAccountStatusResponse">
        <wsdl:part name="GetAccountStatusResponse" element="ctr100:GetAccountStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="GetReimbursementGrantsRequest">
        <wsdl:part name="GetReimbursementGrantsRequest" element="ctr100:GetReimbursementGrantsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetReimbursementGrantsResponse">
        <wsdl:part name="GetReimbursementGrantsResponse" element="ctr100:GetReimbursementGrantsResponse"/>
    </wsdl:message>
    <wsdl:message name="GetHealthAllowancesRequest">
        <wsdl:part name="GetHealthAllowancesRequest" element="ctr100:GetHealthAllowancesRequest"/>
    </wsdl:message>
    <wsdl:message name="GetHealthAllowancesResponse">
        <wsdl:part name="GetHealthAllowancesResponse" element="ctr100:GetHealthAllowancesResponse"/>
    </wsdl:message>
    <wsdl:message name="GetDefermentsRequest">
        <wsdl:part name="GetDefermentsRequest" element="ctr100:GetDefermentsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetDefermentsResponse">
        <wsdl:part name="GetDefermentsResponse" element="ctr100:GetDefermentsResponse"/>
    </wsdl:message>
    <wsdl:message name="CreateDefermentRequest">
        <wsdl:part name="CreateDefermentRequest" element="ctr100:CreateDefermentRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateDefermentResponse">
        <wsdl:part name="CreateDefermentResponse" element="ctr100:CreateDefermentResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateDefermentRequest">
        <wsdl:part name="UpdateDefermentRequest" element="ctr100:UpdateDefermentRequest"/>
    </wsdl:message>
    <wsdl:message name="UpdateDefermentResponse">
        <wsdl:part name="UpdateDefermentResponse" element="ctr100:UpdateDefermentResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdatePatientStatusRequest">
        <wsdl:part name="UpdatePatientStatusRequest" element="ctr100:UpdatePatientStatusRequest"/>
    </wsdl:message>
    <wsdl:message name="UpdatePatientStatusResponse">
        <wsdl:part name="UpdatePatientStatusResponse" element="ctr100:UpdatePatientStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="CreateTransactionRequest">
        <wsdl:part name="CreateTransactionRequest" element="ctr100:CreateTransactionRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateTransactionResponse">
        <wsdl:part name="CreateTransactionResponse" element="ctr100:CreateTransactionResponse"/>
    </wsdl:message>
    <wsdl:message name="GetTransactionsRequest">
        <wsdl:part name="GetTransactionsRequest" element="ctr100:GetTransactionsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetTransactionsResponse">
        <wsdl:part name="GetTransactionsResponse" element="ctr100:GetTransactionsResponse"/>
    </wsdl:message> 
    <wsdl:message name="ChangePersonIdentifierRequest">
        <wsdl:part name="ChangePersonIdentifierRequest" element="ctr100:ChangePersonIdentifierRequest"/>
    </wsdl:message>
    <wsdl:message name="ChangePersonIdentifierResponse">
        <wsdl:part name="ChangePersonIdentifierResponse" element="ctr100:ChangePersonIdentifierResponse"/>
    </wsdl:message>
    <wsdl:message name="CreateFictitiousPersonIdentifierRequest">
        <wsdl:part name="CreateFictitiousPersonIdentifierRequest" element="ctr100:CreateFictitiousPersonIdentifierRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateFictitiousPersonIdentifierResponse">
        <wsdl:part name="CreateFictitiousPersonIdentifierResponse" element="ctr100:CreateFictitiousPersonIdentifierResponse"/>
    </wsdl:message>
    <wsdl:message name="GetReimbursementRatesRequest">
        <wsdl:part name="GetReimbursementRatesRequest" element="ctr100:GetReimbursementRatesRequest"/>
    </wsdl:message>
    <wsdl:message name="GetReimbursementRatesResponse">
        <wsdl:part name="GetReimbursementRatesResponse" element="ctr100:GetReimbursementRatesResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPermissionsRequest">
        <wsdl:part name="GetPermissionsRequest" element="ctr100:GetPermissionsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPermissionsResponse">
        <wsdl:part name="GetPermissionsResponse" element="ctr100:GetPermissionsResponse"/>
    </wsdl:message>
    <wsdl:message name="GetAggregatedStatusRequest">
        <wsdl:part name="GetAggregatedStatusRequest" element="ctr100:GetAggregatedStatusRequest"/>
    </wsdl:message>
    <wsdl:message name="GetAggregatedStatusResponse">
        <wsdl:part name="GetAggregatedStatusResponse" element="ctr100:GetAggregatedStatusResponse"/>
    </wsdl:message>

    <wsdl:message name="CTRFault">
        <wsdl:part name="fault" element="ctr100:CTRFault"/>
    </wsdl:message>

    <wsdl:portType name="CtrPortType">
        <wsdl:operation name="GetAccountStatus">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#GetAccountStatus" style="document"/>
            <wsdl:input name="GetAccountStatusRequest"
                        message="tns:GetAccountStatusRequest"/>
            <wsdl:output name="GetAccountStatusResponse"
                         message="tns:GetAccountStatusResponse"/>
            <wsdl:fault name='CTRFault' message='tns:CTRFault'/>
        </wsdl:operation>
        <wsdl:operation name="GetReimbursementGrants">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#GetReimbursementGrants" style="document"/>
            <wsdl:input name="GetReimbursementGrantsRequest"
                        message="tns:GetReimbursementGrantsRequest"/>
            <wsdl:output name="GetReimbursementGrantsResponse"
                         message="tns:GetReimbursementGrantsResponse"/>
            <wsdl:fault name='CTRFault' message='tns:CTRFault'/>
        </wsdl:operation>
        <wsdl:operation name="GetHealthAllowances">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#GetHealthAllowances" style="document"/>
            <wsdl:input name="GetHealthAllowancesRequest"
                        message="tns:GetHealthAllowancesRequest"/>
            <wsdl:output name="GetHealthAllowancesResponse"
                         message="tns:GetHealthAllowancesResponse"/>
            <wsdl:fault name='CTRFault' message='tns:CTRFault'/>
        </wsdl:operation>
        <wsdl:operation name="GetDeferments">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#GetDeferments" style="document"/>
            <wsdl:input name="GetDefermentsRequest"
                        message="tns:GetDefermentsRequest"/>
            <wsdl:output name="GetDefermentsResponse"
                         message="tns:GetDefermentsResponse"/>
            <wsdl:fault name='CTRFault' message='tns:CTRFault'/>
        </wsdl:operation>
        <wsdl:operation name="CreateDeferment">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#CreateDeferment" style="document"/>
            <wsdl:input name="CreateDefermentRequest"
                        message="tns:CreateDefermentRequest"/>
            <wsdl:output name="CreateDefermentResponse"
                         message="tns:CreateDefermentResponse"/>
            <wsdl:fault name='CTRFault' message='tns:CTRFault'/>
        </wsdl:operation>
        <wsdl:operation name="UpdateDeferment">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#UpdateDeferment" style="document"/>
            <wsdl:input name="UpdateDefermentRequest"
                        message="tns:UpdateDefermentRequest"/>
            <wsdl:output name="UpdateDefermentResponse"
                         message="tns:UpdateDefermentResponse"/>
            <wsdl:fault name='CTRFault' message='tns:CTRFault'/>
        </wsdl:operation>
        <wsdl:operation name="UpdatePatientStatus">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#UpdatePatientStatus" style="document"/>
            <wsdl:input name="UpdatePatientStatusRequest"
                        message="tns:UpdatePatientStatusRequest"/>
            <wsdl:output name="UpdatePatientStatusResponse"
                         message="tns:UpdatePatientStatusResponse"/>
            <wsdl:fault name='CTRFault' message='tns:CTRFault'/>
        </wsdl:operation>
        <wsdl:operation name="CreateTransaction">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#CreateTransaction" style="document"/>
            <wsdl:input name="CreateTransactionRequest"
                        message="tns:CreateTransactionRequest"/>
            <wsdl:output name="CreateTransactionResponse"
                         message="tns:CreateTransactionResponse"/>
            <wsdl:fault name='CTRFault' message='tns:CTRFault'/>
        </wsdl:operation>
        <wsdl:operation name="GetTransactions">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#GetTransactions" style="document"/>
            <wsdl:input name="GetTransactionsRequest"
                        message="tns:GetTransactionsRequest"/>
            <wsdl:output name="GetTransactionsResponse"
                         message="tns:GetTransactionsResponse"/>
            <wsdl:fault name='CTRFault' message='tns:CTRFault'/>
        </wsdl:operation>                    
        <wsdl:operation name="ChangePersonIdentifier">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#ChangePersonIdentifier" style="document"/>
            <wsdl:input name="ChangePersonIdentifierRequest"
                        message="tns:ChangePersonIdentifierRequest"/>
            <wsdl:output name="ChangePersonIdentifierResponse"
                         message="tns:ChangePersonIdentifierResponse"/>
            <wsdl:fault name='CTRFault' message='tns:CTRFault'/>
        </wsdl:operation>
        <wsdl:operation name="CreateFictitiousPersonIdentifier">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#CreateFictitiousPersonIdentifier" style="document"/>
            <wsdl:input name="CreateFictitiousPersonIdentifierRequest"
                        message="tns:CreateFictitiousPersonIdentifierRequest"/>
            <wsdl:output name="CreateFictitiousPersonIdentifierResponse"
                         message="tns:CreateFictitiousPersonIdentifierResponse"/>
            <wsdl:fault name='CTRFault' message='tns:CTRFault'/>
        </wsdl:operation>
        <wsdl:operation name="GetReimbursementRates">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#GetReimbursementRates" style="document"/>
            <wsdl:input name="GetReimbursementRatesRequest"
                        message="tns:GetReimbursementRatesRequest"/>
            <wsdl:output name="GetReimbursementRatesResponse"
                         message="tns:GetReimbursementRatesResponse"/>
            <wsdl:fault name='CTRFault' message='tns:CTRFault'/>
        </wsdl:operation>
        <wsdl:operation name="GetPermissions">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#GetPermissions" style="document"/>
            <wsdl:input name="GetPermissionsRequest"
                        message="tns:GetPermissionsRequest"/>
            <wsdl:output name="GetPermissionsResponse"
                         message="tns:GetPermissionsResponse"/>
            <wsdl:fault name='CTRFault' message='tns:CTRFault'/>
        </wsdl:operation>
        <wsdl:operation name="GetAggregatedStatus">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#GetAggregatedStatus" style="document"/>
            <wsdl:input name="GetAggregatedStatusRequest"
                        message="tns:GetAggregatedStatusRequest"/>
            <wsdl:output name="GetAggregatedStatusResponse"
                         message="tns:GetAggregatedStatusResponse"/>
            <wsdl:fault name='CTRFault' message='tns:CTRFault'/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CtrBinding" type="tns:CtrPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="GetAccountStatus">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#GetAccountStatus"
                            style="document"/>
            <wsdl:input name="GetAccountStatusRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='RequestHeader' message='tns:RequestHeader' />
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetAccountStatusResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name='CTRFault'>
                <soap:fault name='CTRFault' use='literal'/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetReimbursementGrants">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#GetReimbursementGrants"
                            style="document"/>
            <wsdl:input name="GetReimbursementGrantsRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='RequestHeader' message='tns:RequestHeader' />
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetReimbursementGrantsResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name='CTRFault'>
                <soap:fault name='CTRFault' use='literal'/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetHealthAllowances">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#GetHealthAllowances"
                            style="document"/>
            <wsdl:input name="GetHealthAllowancesRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='RequestHeader' message='tns:RequestHeader' />
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetHealthAllowancesResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name='CTRFault'>
                <soap:fault name='CTRFault' use='literal'/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetDeferments">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#GetDeferments"
                            style="document"/>
            <wsdl:input name="GetDefermentsRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='RequestHeader' message='tns:RequestHeader' />        
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetDefermentsResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>    
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name='CTRFault'>
                <soap:fault name='CTRFault' use='literal'/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="CreateDeferment">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#CreateDeferment"
                            style="document"/>
            <wsdl:input name="CreateDefermentRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='RequestHeader' message='tns:RequestHeader' />        
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateDefermentResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name='CTRFault'>
                <soap:fault name='CTRFault' use='literal'/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="UpdateDeferment">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#UpdateDeferment"
                            style="document"/>
            <wsdl:input name="UpdateDefermentRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='RequestHeader' message='tns:RequestHeader' />
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateDefermentResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name='CTRFault'>
                <soap:fault name='CTRFault' use='literal'/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="UpdatePatientStatus">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#UpdatePatientStatus"
                            style="document"/>
            <wsdl:input name="UpdatePatientStatusRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='RequestHeader' message='tns:RequestHeader' />
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdatePatientStatusResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name='CTRFault'>
                <soap:fault name='CTRFault' use='literal'/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="CreateTransaction">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#CreateTransaction"
                            style="document"/>
            <wsdl:input name="CreateTransactionRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='RequestHeader' message='tns:RequestHeader' />        
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateTransactionResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>                   
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name='CTRFault'>
                <soap:fault name='CTRFault' use='literal'/>
            </wsdl:fault>
        </wsdl:operation>

    <wsdl:operation name="GetTransactions">
        <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#GetTransactions"
                        style="document"/>
        <wsdl:input name="GetTransactionsRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='RequestHeader' message='tns:RequestHeader' />        
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output name="GetTransactionsResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>                   
            <soap:body use="literal"/>
        </wsdl:output>
            <wsdl:fault name='CTRFault'>
                <soap:fault name='CTRFault' use='literal'/>
            </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="ChangePersonIdentifier">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#ChangePersonIdentifier"
                            style="document"/>
            <wsdl:input name="ChangePersonIdentifierRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='RequestHeader' message='tns:RequestHeader' />        
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ChangePersonIdentifierResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>                   
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name='CTRFault'>
                <soap:fault name='CTRFault' use='literal'/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="CreateFictitiousPersonIdentifier">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#CreateFictitiousPersonIdentifier"
                            style="document"/>
            <wsdl:input name="CreateFictitiousPersonIdentifierRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='RequestHeader' message='tns:RequestHeader' />
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateFictitiousPersonIdentifierResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name='CTRFault'>
                <soap:fault name='CTRFault' use='literal'/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetReimbursementRates">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#GetReimbursementRates"
                            style="document"/>
            <wsdl:input name="GetReimbursementRatesRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='RequestHeader' message='tns:RequestHeader' />
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetReimbursementRatesResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name='CTRFault'>
                <soap:fault name='CTRFault' use='literal'/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetPermissions">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#GetPermissions"
                            style="document"/>
            <wsdl:input name="GetPermissionsRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='RequestHeader' message='tns:RequestHeader' />
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPermissionsResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name='CTRFault'>
                <soap:fault name='CTRFault' use='literal'/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetAggregatedStatus">
            <soap:operation soapAction="http://lmst.dk/ctr/xml.schema/2022/12/01#GetAggregatedStatus"
                            style="document"/>
            <wsdl:input name="GetAggregatedStatusRequest">
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='RequestHeader' message='tns:RequestHeader' />
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetAggregatedStatusResponse">
                <soap:header use='literal' part='CTRResponseHeader' message='tns:CTRResponseHeader'/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name='CTRFault'>
                <soap:fault name='CTRFault' use='literal'/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="Ctr">
        <wsdl:port name="CtrPort" binding="tns:CtrBinding">
            <soap:address location="http://localhost:9999/ws/ctr"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
