src/wsdl/NewCtrDGWSInterface_2022_12_01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"                 
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ctrDGWSInterface20221201="http://lmst.dk/CtrDGWSInterface/xml.schema/2022/12/01"
                  xmlns:tns="http://lmst.dk/CtrDGWSInterface/xml.schema/2022/12/01"
                  xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
                  targetNamespace="http://lmst.dk/CtrDGWSInterface">

    <wsdl:types>
        <xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <xs:include schemaLocation="../schemas/medcom/dgws/medcom.xsd"/>
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/CtrDGWSInterface/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/HentKontoStatusRequest.xsd"/>           
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/CtrDGWSInterface/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/HentKontoStatusResponse.xsd"/>           
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/CtrDGWSInterface/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/HentHenstandsOrdningerRequest.xsd"/>           
        </xs:schema>
        <xs:schema targetNamespace="http://lmst.dk/CtrDGWSInterface/xml.schema/2022/12/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/12/01/HentHenstandsOrdningerResponse.xsd"/>           
        </xs:schema>
    </wsdl:types>
     
    <wsdl:message name="MedComHeader">
        <wsdl:part name="MedcomHeader" element="medcom:Header"/>
    </wsdl:message>

    <wsdl:message name="HentKontoStatusRequest">
        <wsdl:part name="HentKontoStatusRequest" element="ctrDGWSInterface20221201:HentKontoStatusRequest"/>
    </wsdl:message>
    <wsdl:message name="HentKontoStatusResponse">
        <wsdl:part name="HentKontoStatusResponse" element="ctrDGWSInterface20221201:HentKontoStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="HentHenstandsOrdningerRequest">
        <wsdl:part name="HentHenstandsOrdningerRequest" element="ctrDGWSInterface20221201:HentHenstandsOrdningerRequest"/>
    </wsdl:message>
    <wsdl:message name="HentHenstandsOrdningerResponse">
        <wsdl:part name="HentHenstandsOrdningerResponse" element="ctrDGWSInterface20221201:HentHenstandsOrdningerResponse"/>
    </wsdl:message>

    <wsdl:message name="DGWSFault">
        <wsdl:part name="fault" element="medcom:FaultCode"/>
    </wsdl:message>

    <wsdl:portType name="CtrDGWSInterfacePortType">
        <wsdl:operation name="HentKontoStatus">
            <soap:operation soapAction="http://lmst.dk/CtrDGWSInterface/xml.schema/2022/12/01#HentKontoStatus" style="document"/>
            <wsdl:input name="HentKontoStatusRequest"
                        message="tns:HentKontoStatusRequest"/>
            <wsdl:output name="HentKontoStatusResponse"
                         message="tns:HentKontoStatusResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
        <wsdl:operation name="HentHenstandsOrdninger">
            <soap:operation soapAction="http://lmst.dk/CtrDGWSInterface/xml.schema/2022/12/01#HentHenstandsOrdninger" style="document"/>
            <wsdl:input name="HentHenstandsOrdningerRequest"
                        message="tns:HentHenstandsOrdningerRequest"/>
            <wsdl:output name="HentHenstandsOrdningerResponse"
                         message="tns:HentHenstandsOrdningerResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CtrDGWSInterfaceBinding" type="tns:CtrDGWSInterfacePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="HentKontoStatus">
            <soap:operation soapAction="http://lmst.dk/CtrDGWSInterface/xml.schema/2022/12/01#HentKontoStatus"
                            style="document"/>
            <wsdl:input>              
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="HentHenstandsOrdninger">
            <soap:operation soapAction="http://lmst.dk/CtrDGWSInterface/xml.schema/2022/12/01#HentHenstandsOrdninger"
                            style="document"/>
            <wsdl:input>              
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="CtrDGWSInterface">
        <wsdl:port name="CtrDGWSInterfacePort" binding="tns:CtrDGWSInterfaceBinding">
            <soap:address location="http://localhost:9999/ws/CtrDGWSInterface"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>

