src/schemas/2022/12/01/CreateNoChargeGrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:ctr="http://lmst.dk/ctr/xml.schema/2022/12/01"
        targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01"
        elementFormDefault="qualified">

    <include schemaLocation="ValidFromDate.xsd"/>
    <include schemaLocation="ValidToDate.xsd"/>
    <include schemaLocation="Doctor.xsd"/>
    <include schemaLocation="NoChargeGrantType.xsd"/>
    <include schemaLocation="Percentage.xsd"/>
    <include schemaLocation="CreatedDateTime.xsd"/>
    <include schemaLocation="OrganisationIdentifier.xsd"/>

    <element name="CreateNoChargeGrant" type="ctr:CreateNoChargeGrantType">
        <annotation>
            <documentation xml:lang="en-GB">Type for the No Charge Grant to be created</documentation>
            <documentation xml:lang="da-DK">Type for den vederlagsfrie bevilling, der skal oprettes</documentation>
        </annotation>
    </element>
    <complexType name="CreateNoChargeGrantType">
        <sequence>
            <element name="Type" type="ctr:NoChargeGrantTypeType" />
            <element name="Doctor" type="ctr:DoctorType" />
            <element name="DoctorOrganisation" type="ctr:OrganisationIdentifierType" />
            <element name="ValidFromDate" type="ctr:ValidFromDateType"/>
            <element name="ValidToDate" type="ctr:ValidToDateType" minOccurs="0"/>
            <element name="Rate" type="ctr:PercentageType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>