src/schemas/2022/12/01/Doctor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:ctr="http://lmst.dk/ctr/xml.schema/2022/12/01"
        targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01"
        elementFormDefault="qualified" >

    <include schemaLocation="DoctorName.xsd"/>
    <include schemaLocation="AuthorisationIdentifier.xsd"/>

    <element name="Doctor" type="ctr:DoctorType">
        <annotation>
            <documentation xml:lang="en-GB">Doctor</documentation>
            <documentation xml:lang="da-DK">Læge</documentation>
        </annotation>
    </element>
    <complexType name="DoctorType">
        <sequence>
            <element name="Name" type="ctr:DoctorNameType"/>
            <element name="AuthorisationIdentifier" type="ctr:AuthorisationIdentifierType"/>
        </sequence>
    </complexType>
</schema>
