src/schemas/2022/12/01/HenstandsOrdning.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:ctr="http://lmst.dk/CtrDGWSInterface"
		targetNamespace="http://lmst.dk/CtrDGWSInterface"
		elementFormDefault="qualified" attributeFormDefault="unqualified">	
	
	<element name="HenstandsOrdning" type="ctr:HenstandsOrdningType">
		<annotation>
			<documentation xml:lang="en-GB">HenstandsOrdning</documentation>
			<documentation xml:lang="da-DK">HenstandsOrdning</documentation>
		</annotation>
	</element>
	<complexType name="HenstandsOrdningType">
		<sequence>
            <element name="GaeldendeFra" type="dateTime"/>
            <element name="GaeldendeTil" type="dateTime"/>      
            <element name="ApoteksIdentifier" type="string"/>
            <element name="ApoteksIdentifierSource" type="string"/>
            <element name="OphoersAarsag" type="string" minOccurs="0"/>
            <element name="Active" type="boolean"/>
		</sequence>
	</complexType>
</schema>
