src/schemas/2022/12/01/NoChargeGrantType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:ctr="http://lmst.dk/ctr/xml.schema/2022/12/01"
        targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01"
        elementFormDefault="qualified">

    <element name="NoChargeGrantType" type="ctr:NoChargeGrantTypeType">
        <annotation>
            <documentation xml:lang="en-GB">No charge grant type</documentation>
            <documentation xml:lang="da-DK">Vederlagsfri bevillingstype</documentation>
        </annotation>
    </element>

    <simpleType name="NoChargeGrantTypeType">
        <union memberTypes="ctr:PredefinedNoChargeGrantTypeType ctr:UndefinedNoChargeGrantTypeType"/>
    </simpleType>
    <simpleType name="PredefinedNoChargeGrantTypeType">
        <restriction base="ctr:UndefinedNoChargeGrantTypeType">
            <enumeration value="RegionalAftalePsykiatri">
                <annotation>
                    <documentation xml:lang="en-GB">Regional agreement psychiatric</documentation>
                    <documentation xml:lang="da-DK">Regional aftale psykiatri</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="UndefinedNoChargeGrantTypeType">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="100"/>
        </restriction>
    </simpleType>
</schema>