src/schemas/2022/12/01/PatientStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:ctr="http://lmst.dk/Ctr/100"
		targetNamespace="http://lmst.dk/Ctr/100"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="PatientStatusVaerdi.xsd"/>
	
	<element name="PatientStatus" type="ctr:PatientStatusType">
		<annotation>
			<documentation xml:lang="en-GB">Patient status</documentation>
			<documentation xml:lang="da-DK">Patient status</documentation>
		</annotation>
	</element>
	<complexType name="PatientStatusType">
		<sequence>
            <element name="Status" type="ctr:PatientStatusVaerdiType"/>
            <element name="GaeldendeFra" type="date"/> <!-- ny type  <minInclusive value="2000-01-01"/> <maxInclusive value="2900-01-01"/>-->
            <element name="GaeldendeTil" type="date"/>  <!-- ny type  <minInclusive value="2000-01-01"/> <maxInclusive value="2900-01-01"/>         
		</sequence>
	</complexType>
</schema>
