src/schemas/2022/12/01/PatientStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:ctr="http://lmst.dk/CtrDGWSInterface"
		targetNamespace="http://lmst.dk/CtrDGWSInterface"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="PatientStatusVaerdi.xsd"/>
	
	<element name="PatientStatus" type="ctr:PatientStatusType">
		<annotation>
			<documentation xml:lang="en-GB">Patient status</documentation>
			<documentation xml:lang="da-DK">Patient status</documentation>
		</annotation>
	</element>
	<complexType name="PatientStatusType">
		<sequence>
            <element name="Status" type="ctr:PatientStatusVaerdiType" minOccurs="1"/>
            <element name="GaeldendeFra" type="dateTime"/>
            <element name="GaeldendeTil" type="dateTime"/>
            <element name="ModifiedDate" type="dateTime"/>
		</sequence>
	</complexType>
</schema>
