src/schemas/2022/12/01/TASDoctorNoChargeGrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:ctr="http://lmst.dk/ctr/xml.schema/2022/12/01"
        targetNamespace="http://lmst.dk/ctr/xml.schema/2022/12/01"
        elementFormDefault="qualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="TASNoChargeGrant.xsd"/>

    <element name="TASDoctorNoChargeGrant" type="ctr:TASDoctorNoChargeGrantType">
        <annotation>
            <documentation xml:lang="en-GB">Description of a CTR no-charge grant</documentation>
            <documentation xml:lang="da-DK">Beskrivelse af en CTR vederlagsfri bevilling</documentation>
        </annotation>
    </element>
    <complexType name="TASDoctorNoChargeGrantType">
        <sequence>
            <element name="PersonIdentifier" type="ctr:PersonIdentifierType"/>
            <element name="NoChargeGrant" type="ctr:TASNoChargeGrantType"/>
        </sequence>
    </complexType>
</schema>